:root {
  --text-primary: #ffffff;
  --bgc: #3b181e;
  --gray: rgba(255, 255, 255, 0.5);
  --max-w: 1920px;
  --padding-lg: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100svh;
  background-color: var(--bgc);
}

main {
  flex-grow: 1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--max-w);
  padding: 0 var(--padding-lg);
  margin: 0 auto;
}

.white-link {
  position: relative;
  color: var(--text-primary);
}

.white-link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  content: "";
  height: 1px;
  background-color: var(--text-primary);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.white-link:hover::after {
  transform: scaleX(1);
}

.gray-link {
  color: var(--gray);
  font-family: Forum;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s ease;
}

.gray-link:hover {
  color: var(--text-primary);
}

.social-link {
}

.social-link svg rect {
  transition: stroke 0.3s, fill .3s;
}
.social-link svg path {
  transition: fill 0.3s;
}

.social-link:hover svg rect {
  fill: var(--text-primary);
}

.social-link:hover svg path {
  fill: var(--bgc);
}
.inst-link svg rect {
    transition: fill .3s;
}
.inst-link svg circle {
    transition: fill .3s;

}
.social-link:hover svg circle {
    fill: var(--bgc);
}
.social-link:hover svg rect {
    fill: var(--text-primary);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 60px;
  align-items: center;
}

.header__link {
  font-family: "Forum";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__item {
  font-family: "Forum";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
}
